<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Doggie Rescue App</title>
</head>
<body>
    <h1> Welcome to the Doggie Rescue App!</h1>
    <img
        class="home-pic1"
        src="https://s6.imgcdn.dev/EkMQ8.png"
        alt="animal shelter home"
    />
    <p> An app to collect data on dogs that have been rescued and are ready for adoption.</p>
    <button>
        <a class="dogs-index-link" href="/dogs">
            <div class="index-link-text">View Dogs</div>
        </a>
    </button>
    <button>
        <a href="/dogs/new">
            <div class="index-link-text">Add A Dog</div>
        </a>
    </button>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>